/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  background-color: var(--p-primary-contrast-color);
}

.container-wrapper {
  max-width: 1048px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--p-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
}

.form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form__group {
  padding-bottom: 1rem;
}

.error {
  color: var(--p-red-500);
}
